@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lalezar&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap");

body {
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #262f5a;
}

p {
  color: #262f5a;
}

/* colors */
.main-bg {
  background: linear-gradient(90deg, #ed1f5d 0, #f8ae56);
  /* background: linear-gradient(90deg, #f55f8d 0, #f8ae56); */
}

.text-rose {
  color: #f55f8d !important;
}

/* button */
.large-button {
  transition: all ease 0.5s;
  position: relative;
  z-index: 9999;
  background: #fff;
  color: #ed1f5d;
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 6px 24px;
  font-weight: 600;
}

.large-button:hover {
  color: #fff;
  background: linear-gradient(90deg, #ed1f5d 0, #f8ae56);
}

/* links */

a {
  text-decoration: none;
  color: #fff;
}

ul {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li {
  padding-left: var(--icon-space);
  font-size: 16px;
}

li:before {
  content: "\f058";
  color: #f55f8d;
  font-size: 16px;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

::selection {
  /* color: #ffffff;  */
  background-color: #f55f8d; /* Background color when text is selected */
}
/* badge */
.badge {
  background-color: rgba(245, 95, 141, 0.1);
  padding: 6px 16px;
  font-size: 24px;
  border-radius: 6px;
  color: #f55f8d;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2px;
  width: fit-content;
}
/* logo */
.logo {
  /* font-family: "Lalezar", system-ui; */
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  position: relative;
  z-index: 99;
}

.logo span {
  /* font-family: "Lalezar", system-ui; */
  /* font-family: "Press Start 2P", system-ui; */
  font-family: "Orbitron", sans-serif;
  color: #000;
  font-weight: 900;
}
