/* navbar */
.icon-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f55f8d;
  padding: 6px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.icon-container:hover {
  color: #fff;
  background: linear-gradient(90deg, #ed1f5d 0, #f8ae56);
}

.icon-container:hover a i {
  color: #fff !important;
}

.carifer-nav {
  z-index: 9999;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.header {
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 99;
}

.offcanvas-body .menu-items {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff;
}

.banner-img {
  border-radius: 50%;
  position: absolute;
  border-radius: 50%;
  top: -100%;
  right: -5%;
  width: 700px;
  height: 700px;
  z-index: 1;
  opacity: 0.7;
}

.hidden {
  opacity: 0;
}

.menu-links {
  cursor: pointer;
  z-index: 9999;
  position: relative;
}

.menu-links::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all ease 0.3s;
}

.menu-links:hover::after {
  width: 100%;
}

/* about */
.about-us {
  background-image: url("https://www.falconsqr.com/images/background/bg15.png");
  background-size: contain;
  background-position: center right;
  background-repeat: no-repeat;
}

.about-img {
  border-radius: 0 25px 25px 0;
  margin-block: 2rem;
}

/* counter */
.counter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  padding: 100px 0px 100px 0;
  color: #f55f8d;
}

.counter {
  text-align: center;
  transition: all ease 0.3s;
}

.counter:hover {
  margin-top: -20px;
}

.counter h3 {
  padding: 0.5rem 0;
  font-size: 40px;
  font-weight: 800;
  color: #f55f8d;
}

.counter p {
  padding: 0.5rem 0;
  font-size: 20px;
}

/* services */
.service-icon-bg {
  background-image: url(../images/service-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8ae5633;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.service-card:hover .service-icon-container {
  background-color: #f6d5dfa7;
}
.service-icon-bg .fa-solid {
  color: #f55f8d;
}
.service-card:hover .fa-solid {
  color: #fff;
}

.service-card {
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  transition: all ease 0.5s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #000;
}

.service-card::after {
  content: "";
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #ed1f5d;
  position: absolute;
  bottom: -35%;
  right: -35%;
  transform: translate(50%, 50%);
  outline: 40px solid #feca8b;
  border: 40px solid #f8ae56;
  opacity: 0.75;
  transition: all ease 0.5s;
  z-index: 0;
}
.service-card:hover::after {
  right: 0%;
  bottom: 0%;
}

.service-card:hover p {
  color: #fff;
  position: relative;
  z-index: 1;
}

.service-card:hover h5 {
  color: #fff;
}

.service-card h5 {
  font-weight: 600;
}

.service-card:hover {
  background: linear-gradient(90deg, #f55f8d 0, #f8ae56);
}

/* products */
.product-icon-bg {
  background-image: url(../images/product-icon.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.product-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8ae5633;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.product-card:hover .product-icon-container {
  background-color: #f6d5dfa7;
}
.product-icon-bg .fa-solid {
  color: #f55f8d;
}
.product-card:hover .fa-solid {
  color: #fff;
}

.product-card {
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  transition: all ease 0.5s;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #000;
}

.product-card::after {
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: #ed1f5d;
  position: absolute;
  bottom: -35%;
  right: -35%;
  transform: translate(50%, 50%);
  outline: 60px solid #feca8b;
  border: 60px solid #f8ae56;
  opacity: 0.75;
  transition: all ease 0.5s;
  z-index: 0;
}
.product-card:hover::after {
  right: 0%;
  bottom: 0%;
}

.product-card .fa-solid {
  color: #f55f8d;
}
.product-card:hover p {
  color: #fff;
  position: relative;
  z-index: 1;
}

.product-card:hover h5 {
  color: #fff;
}

.product-card h5 {
  font-weight: 600;
  color: #f55f8d;
}

.product-card:hover {
  background: linear-gradient(90deg, #f55f8d 0, #f8ae56);
}
/* contact */
.bottom-curve {
  margin-top: 50px;
  position: relative;
  z-index: 999;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://www.falconsqr.com/_next/static/media/pattern2.3c1febfb03996101998e66405eef0607.png");
}
/* .contact {
  background-color: red;
} */

textarea:hover {
  border: 1px solid #f55f8d;
}
.contact-form {
  background-image: url("https://www.falconsqr.com/_next/static/media/pattern3.13b54389f91d8b7f8280d082d161f972.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
  padding: 40px;
  background-color: rgb(255, 255, 255);
}
.contact-form input {
  border-radius: 20px;
  border: 1px solid transparent;
  margin-bottom: 10px;
  width: 100%;
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
  height: 45px;
  border-radius: 1.5rem;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  outline: none;
}
.contact-form input:focus,
.contact-form input:active {
  border: 1px solid #f55f8d !important;
  outline: none;
}

.contact-form textarea {
  border-radius: 20px;
  border: none;
  width: 100%;
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
  border-radius: 1.5rem !important;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  resize: none;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid transparent;
  outline: none;
}

.contact-form textarea:focus,
.contact-form textarea:active {
  border: 1px solid #f55f8d !important;
  outline: none;
}
.rounded-button {
  background: linear-gradient(90deg, #f55f8d 0, #f8ae56);
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 6px 24px;
  font-weight: 600;
}

footer {
  background-color: #0e1b1f;
  color: #fff;
  position: relative;
}

footer::after {
  content: "";
  background-image: url("https://www.falconsqr.com/images/background/bg4.png");
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

footer h3 {
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  position: relative;
}

footer h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  width: 15px;
}

footer h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  width: 43px;
}

footer li:before {
  content: "\f054";
  color: #fff;
  font-size: 10px;
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
  margin-bottom: 16px;
  transition: all ease 0.3s;
}

footer li:hover:before {
  margin-right: 7px;
}

footer li {
  color: #fff;
  font-size: 14px;
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
  z-index: 99;
}
footer a {
  position: relative;
  z-index: 99;
}

footer p {
  margin-left: 10px;
  margin-bottom: 0px;
  color: #fff;
  transition: all ease 0.3s;
  cursor: pointer;
}

footer p:hover {
  margin-left: 20px;
}
